{% extends "index.html" %}

{% block content %}
    <div class="contacts_container">
        <p class="pro_description" id="contacts_description">
            Let us work together on your project!
            <br>
            <br>
            For more information and collaborations:
            <br>
            <br>
            <br>
            <a href="tel:{{contact.phone_1}}" class="contact_link" id="phone_link">Call Me</a> 
            <br>
            <br>
            <br>
            <a href="https://wa.me/{{contact.phone_1}}" target="_blank" id="whatsapp_link" class="contact_link">WhatsApp</a>
            <br>
            <br>
            <br>
            <a href="mailto:{{contact.email}}?subject=CONTACT%20FROM%20YOUR%20PORTFOLIO" class="contact_link" id="mail_link" target="_blank">Send Me an Email</a>
            <br>
            <br>
            <br>
            <a href="https://m.me/Comfort.Benedicto.Banda" target="_blank" id="facebook_link" class="contact_link">Text Me on Facebook</a>
            <br>
            <br>
            <br>
            I usually respond as soon as possible, within 24 hours!
            <br>
            <br>
            
        </p>

    </div>
{% endblock %}